/* 清除内外边距 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
dl,
dt,
dd,
ul,
ol,
li,
img {
  margin: 0;
  padding: 0;
  border: medium none;
}

/* 重置列表元素 */
ul,
li {
  list-style: none;
}

body {
  background-color: white;
  font-size: 16px;
  color: black;
  font-family: 'Chinese Quote', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

/* 文字省略号 */
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// 去掉mac safari浏览器input右边的小图标/小按钮
input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none！important;
  pointer-events: none;
  position: absolute;
  right: 0;
}
