{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false // modules 防止 babel 将任何模块类型都转译成 CommonJS 类型
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": {
          "version": 3,
          "proposals": true
        },
        "useESModules": true
      }
    ],
    "@babel/plugin-proposal-class-properties",
    [
      // 通过babel-plugin-import实现按需加载
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "lib",
        "style": "css"
      },
      "antd"
    ],
    [
      // 通过babel-plugin-import实现按需加载
      "import",
      {
        "libraryName": "antd-mobile",
        "libraryDirectory": "lib",
        "style": "css"
      },
      "antd-mobile"
    ]
  ]
  // 代码分割的最佳方式
  // npm install babel-plugin-syntax-dynamic-import
  // import("./math").then(math => {
  //   console.log(math.add(16, 26));
  // });
  // "plugins": ["syntax-dynamic-import"]
}
